<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- PAGE settings -->
  <link rel="icon" href="https://templates.pingendo.com/assets/Pingendo_favicon.ico">
  <title>QRCode</title>
  <meta name="description" content="QRCode Generator">
  <meta name="keywords" content="QRCode Generator">
  <meta name="author" content="Pingendo">
  <!-- CSS dependencies -->
 
  <link rel="stylesheet" href="style.css">
</head>

<body>
  
   <div class="container">
      <div class="row">
    <div class="box">  
  <div class="imgBx"> 
<img  src="qr_imgs/0982515220180020207705.bmp">
 <div class="content">
          <p  style=""> A Consulta estará disponível em atpe 24h no site do Tribunal de Justiça do RS http://go.tjrs.jus.br/selodigital/consulta<br>Chave de Autencidade para consulta<br><br></p>
          <h3 class="" contenteditable="true">098251 52 2018 00202077 05</h3>
        </div>
  </div>

</div>
</div>
</div>

 
   


  <footer class="text-muted py-5">

  </footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
</body>

</html>

