body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #ff005c;

}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    background: #ffff;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    display: flex;
}

.box .imgBx {
    width: 150px;
    flex: 0 0 150px;

}

.box .imgBx img {
    max-width: 100%;
}

.box .content {
    padding-left: 20px;
}